@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */

html,
body {
    // height: 100%;
}

body {
    font-family: Roboto;
    color: #181146;
}
.notification-window {
    background: #ffffff;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px 0px 12px 12px;
    width: 433px;
    color: #676767;
    font-size: 12px;
}

.notification-row {
    background: #EBEFF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    min-height: 65px;
}

.read-notification {
    background: #fff !important;
}
.notification-list {
    max-height: 300px;
    overflow-y: auto;
    /*
 * Sidebar scrollbar styling for Chrome & Safari
 */
    &::-webkit-scrollbar {
        width: 7px !important;
    }

    &::-webkit-scrollbar-track {
        background: #eeeeee !important;
    }

    &::-webkit-scrollbar-thumb {
        background: #838383 !important;
    }

    &::-webkit-scrollbar {
        width: 7px !important;
    }

    &::-webkit-scrollbar-track {
        background: #eeeeee !important;
    }

    &::-webkit-scrollbar-thumb {
        background: #838383 !important;
    }

    scrollbar-color: #838383 #eeeeee;
    scrollbar-width: thin;
}

.view-all-btn {
    text-decoration: underline;
    text-align: center;
    border-top: 0.5px solid #b4b4b4;
    margin-top: 30px;
}

.font-dark{
    color: #181146;
}

.x-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.x-row{
    flex-direction: row;
}

.x-column{
    flex-direction: column;
}

.x-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.x-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.clickable {
    cursor: pointer;
}

.pos-relative {
    position: relative;
}

.text-left {
    text-align: left;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.light {
    font-weight: 300;
}

.d-flex {
    display: flex;
}

// ---------------- Font Sizes ----------------

@for $i from 6 through 32 {
    .font-size-#{$i} {
        font-size: #{$i}px;
    }
}

// ---------------- Utils ----------------
@for $i from 0 through 100 {
    .m-#{$i} {
        margin: #{$i}px;
    }

    .mt-#{$i} {
        margin-top: #{$i}px;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }

    .mb-#{$i}-imp {
        margin-bottom: #{$i}px !important;
    }

    .mr-#{$i} {
        margin-right: #{$i}px;
    }

    .ml-#{$i} {
        margin-left: #{$i}px;
    }

    .mx-#{$i} {
        margin-right: #{$i}px;
        margin-left: #{$i}px;
    }

    .my-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }

    .p-#{$i} {
        padding: #{$i}px;
    }

    .px-#{$i} {
        padding-right: #{$i}px;
        padding-left: #{$i}px;
    }

    .py-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }

    .pt-#{$i} {
        padding-top: #{$i}px;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }

    .pr-#{$i} {
        padding-right: #{$i}px;
    }

    .pl-#{$i} {
        padding-left: #{$i}px;
    }

    .px-#{$i}-imp {
        padding-inline: #{$i}px !important;
    }

    .py-#{$i}-imp {
        padding-block: #{$i}px !important;
    }

    .right-#{$i} {
        right: #{$i}px;
    }

    .left-#{$i} {
        left: #{$i}px;
    }

    .top-#{$i} {
        top: #{$i}px;
    }

    .bottom-#{$i} {
        bottom: #{$i}px;
    }
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.notification-bell {
    position: relative;
}
.notification-count {
    position: absolute;
    background: #ff613e;
    color: #fff;
    border-radius: 50%;
    font-size: 11px;
    left: 18px;
    z-index: 9;
    top: 2px;
    height: 20px;
    width: 20px;
    text-align: center;
    padding-top: 4px;
}
